<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>플라스크 템플릿 엔진</h1>
    <p>평범한 HTML코드는 가라</p>
    <p>JINJA2 Template - 새로운 언어 - 가 온다ㄸ!!</p>
    
    <table>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>mobile</th>
        </tr>
        {% for u in users %}
        <tr>
            <td>{{u.name}}</td>
            <td>{{u.agee}}</td>
            <td>{{u.mobile}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>