<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>users</h1>
    <h2>page {{page}}</h2>
    <ul>
        {% for user in users %}
            <li>user {{user.id}}&nbsp;&nbsp;&nbsp;{{user.age}}세     번호: ({{user.phone}})</li><br>
        {% endfor %}

        {% if page %}
        <div>
            <a href = "/pages/{{ page -1}}"> Previous </a>
            <a href = "/pages/{{ page +1}}"> Next </a>
        </div>
        {% endif %}
    </ul>
    
</body>
</html>