   
       
        h1 { color: blue}
        h2 { color:red}
        h3 { color:green}
        .color1{ color: blueviolet; background-color: #00aab0;}
        .color2{color: magenta; border: 10px dashed black}
        #color3{color:red; border: 5px solid greenyellow}
 