<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid #aaa;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h2>사용자 목록</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Work</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.age }}</td>
                <td>
                    <a href="">수정</a>
                    <a href="/delete/{{u.name}}">삭제</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>새 사용자 추가</h3>
    <form method="POST">
        이름 : <input type="text" name="name" required>
        나이 : <input type="number" name="age" required>
        <button type="submit">추가</button>
    </form>
</body>
</html>