<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>사용자 목록</h2>
    </form>
    <table border = 1>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Address</th>
        </tr>
        {% for user in users %}
        <tr>            
            <td>{{user.Id}}</td>
            <td>{{user.Name}}</td>
            <td>{{user.Gender}}</td>
            <td>{{user.Age}}</td>
            <td>{{user.Birthdate}}</td>
            <td>{{user.Address}}</td>
        </tr>
        {% endfor %}
    </table>

    <div>

    </div>

</body>
</html>